#! /bin/bash

stop()
{
	pid=$(ps -ef|grep 'v2ray -config'|grep -v grep|awk '{print $2}')
	if [ "x$pid" != "x" ]; then
		kill $pid
		sleep 1
	fi
}

start()
{
	stop
	nohup /data/software/v2ray/v2ray -config /data/software/v2ray/client.json >/dev/null 2>&1 &
	echo "v2ray is started"
}

case "$1" in
start|restart|reload)
	start
;;
stop)
	stop
	echo "v2ray is stoped"
;;
*)
  self_name=$(basename $0)
	echo "Usage: service $self_name {start|stop|reload|restart}"
esac
